<h1>SupinfoDropBox</h1>

<p>Cette application Web permet a l'utilisateur la gestion de ses dossiers et de ses fichiers. Elle convient aussi bien a un professionnel
qu'à un particulier. Grâce a elle vous pourrez:</p>
<li>- Upload vos fichiers afin de les sauvegarder</li>
<li>- Les télécharger </li>
<li>- Les visualiser dans l'interface web</li>
<li>- Les visualiser</li>

<h3>L'équipe</h3>
<h6>Artur Hoogers</h6>
<p>UX/UI designer</p>

<h6>Guillaume Cieselski</h6>
<p>Informaticien Système et réseaux</p>

<h6>Yoann La Cancellera<h6>
<p>Développeur Back-end</p>

<h6>Louis Bachetti<h6>
<p>Développeur front-end</p>