<div ng-controller="FilesCtrl">
    <p style="color: red;">{{error}}</p>
    <p style="color: green;">{{reussite}}</p>
    <h2>Dossier: {{arch.current}}</h2>
    <div>
        Nouveau dossier:
        <input
                type="text"
                value="Nom du dossier..."
                ng-model="folderForCreation"
        >
        <button ng-click="addFolder()" class="btn btn-primary">Créer</button>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Dossier</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active" ng-repeat="doss in arch.folders">
                <th>{{doss.path}}</th>
                <td>
                    <form ng-submit="getArch(doss.path)">
                        <button type="submit" class="btn btn-primary">Aller dans</button>
                        <button ng-click="deleteFolder(doss.id)" class="btn btn-primary">Supprimer</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>Vos fichiers:</h2>
    <p ng-show="haveShared">Lien de téléchargement : {{shared}}</p>
    <br>

    <form ng-submit="upload(arch.current)">
        <input
                type="file"
                value="upload"
                ng-model="form.file"
                id="file"
        >
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>

    <br>
    <p>Recherche:</p>
    <input class="form-control" type="text" ng-model="research">

    <div>
        <button type="button" class="btn btn-primary" ng-click="downloadFolder(arch.currentId)">Tout télécharger
        </button>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Fichiers</th>
                <th scope="col">Type</th>
                <th scope="col">Taille</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active" ng-repeat="file in arch.files | filter: research | orderBy: order">
                <th>{{file.name}}</th>
                <td>{{file.extension}}</td>
                <td>{{file.size}} bytes</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="download(file)">Télécharger</button>
                    <button class="btn btn-primary" ng-click="deleteFile(file.id)">Supprimer</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#visu" ng-click="visualize(file.extension, file.id)">Voir</button>
                    <button class="btn btn-primary" ng-click="shareFile(file.id)">Partager</button>

                </td>
            </tr>
            </tbody>
        </table>

    </div>



    <div class="modal fade" id="visu" ng-show="visualisation">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
        </div>
        <div class="modal-content">

            <img height="600" width="600" ng-src="{{src}}" ng-show="type == 'image/jpeg' || type == 'image/png'">

            <embed height="600" width="600" ng-src="{{trustSrc(src)}}" ng-show="type == 'application/pdf'"></embed>

            <div ng-show="type == 'video/mp4' || type == 'image/ogg' || type == 'image/webm'" class="videogular-container">
                <videogular vg-theme="videoConf.theme.url">
                    <vg-media vg-src="videoConf.src"
                              vg-tracks="videoConf.tracks"
                              vg-native-controls="true">
                    </vg-media>
                </videogular>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
