
<div>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="607090405741-al9r84iqolfi63sgfifo344imh7vuj3u.apps.googleusercontent.com">
  <div>
    <form name="Connexion" ng-submit="submitCo()">
      <fieldset>
        <legend style="color: #28a4c9">Connexion</legend>

        <label for="email" class="col-sm-2 col-form-lab">Email</label>
        <div class="col-sm-10">
          <input
            name="mail"
            type="email"
            class="form-control"
            id="email"
            required="required"
            ng-model="form.email"
          >
        </div>
        <br />
        <br />
        <label for="motDePasse" class="col-sm-2 col-form-lab">Password</label>
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="motDePasse"
            ng-model="form.password"
          >
        </div>

        <button type="submit" class="btn btn-primary">Se connecter</button>
      </fieldset>
    </form>
  </div>
  </br>
    <script>
        signGoogleF = function () {
            signGoogle();
        }
    </script>
  <div class="g-signin2" data-onsuccess="signGoogleF">
  </div>
  </br>

</div>

</br>
</br>

<div>
  <form name="Inscription" ng-submit="submitLo()">
    <fieldset>
      <legend style="color: #28a4c9">Inscription</legend>

      <label for="mailIn" class="col-sm-2 col-form-lab">Email</label>
      <div class="col-sm-10">
        <input
          name="mailIn"
          type="email"
          class="form-control"
          id="mailIn"
          required="required"
          ng-model="formIn.email"
        >
      </div>
      <br />
      <br />
      <label for="pwdIn1" class="col-sm-2 col-form-lab">Password:</label>
      <div class="col-sm-10">
        <input
          name="pwdIn1"
          type="password"
          class="form-control"
          id="pwdIn1"
          required="required"
          ng-model="formIn.pwd"
        >
      </div>
      <br />
      <br />
      <label for="pwdIn2" class="col-sm-2 col-form-lab">Confirmation:</label>
      <div class="col-sm-10">
        <input
          name="pwdIn1"
          type="password"
          class="form-control"
          id="pwdIn2"
          required="required"
          ng-model="formIn.pwd2"
        >
      </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">S'inscrire</button>
  </form>
</div>
