<h1>Votre profile:</h1>

<div ng-controller="ProfileCtrl">
    <form name="ChangePassword" ng-submit="changePwd()">
        <fieldset>
            <legend style="color: #28a4c9">Changement de password</legend>
            <p ng-show="reussite != ''">{{reussite}}</p>
            <p ng-show="error != ''">{{error}}</p>



            <label for="current" class="col-sm-2 col-form-lab">Actuel:</label>
            <div class="col-sm-10">
                <input
                        name="current"
                        type="password"
                        class="form-control"
                        id="current"
                        required="required"
                        ng-model="formPro.current"
                >
            </div>
            <br/>
            <br/>
            <label for="pwd1" class="col-sm-2 col-form-lab">Password:</label>
            <div class="col-sm-10">
                <input
                        name="pwd1"
                        type="password"
                        class="form-control"
                        id="pwd1"
                        required="required"
                        ng-model="formPro.pwd"
                >
            </div>
            <br/>
            <br/>
            <label for="pwd2" class="col-sm-2 col-form-lab">Confirmation:</label>
            <div class="col-sm-10">
                <input
                        name="pwd2"
                        type="password"
                        class="form-control"
                        id="pwd2"
                        required="required"
                        ng-model="formPro.pwd2"
                >
            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary">Changer son mot de passe</button>
    </form>
</div>
